body{
    margin: 0;
    padding: 0;
    background-color:#FAF7F0;
}
nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav{
    width: 25%;
}
.nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding:10px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.logo{
    width: 13%;
}
.logo img{
    width: 50%;
}
.container{
    display: flex;
    height: 80vh;
}
.side_bar{
    display: flex;
    width: 15%;
    height: 85vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.side_bar ul{
    width: 100%;
}
.side_bar ul li{
    width: 100%;
    list-style:none;
    padding: 15px;
}
.side_bar ul li a{
    text-decoration: none;
    font-size: 1.2rem;
}
.content{
    width: 85%;
    height: 85vh;
    /*overflow: auto;*/
    overflow-y:auto;
}
.home_img{
    width: 89%;
    margin-left: 5%;
    margin-top: 50px;
    height: 70vh;
}
.footer{
    width: 87%;
    height:8vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    background: rgba(0, 128, 128, 0.46);
    margin-left: 5%;
    margin-top: 10px;
}
.contact{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;

}
.mail, .isg, .facebook{
    width:45%;
    margin-top: 16px;
}
.active{
    color: red;
}
.cat{
    width:89%;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.cat .lida{
    width:30%;
    margin: 15px;

}
